@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Drimmer";
    src: url('/fonts/Drummer Bold.ttf')
}
@font-face {
    font-family: "Inter";
    src: url('/fonts/Inter-Regular.ttf')
}
